@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
  font-family: 'Roboto Condensed', sans-serif;
}

.App {
  text-align: center;
}

.navbar-custom{
  font-family: 'Roboto Condensed', sans-serif;
}

.carousel-grad{
  position: relative;
  height: 91vh;
  width: auto;
  overflow: hidden;
  background: rgb(0, 140, 149);
  background: linear-gradient(0deg, rgba(0, 140, 149, 1) 0%, rgba(255, 255, 255, 0) 41%);
  color: white !important ;
}

.carousel-img{
  position: absolute;
  width: auto;
  height: 91vh;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.bg-orange{
  background: #E47946;
  color: #e5e5e5;
}

.bg-orange:hover{
  background: #cd501b;
  color: #e5e5e5;
  transition: 0.5s;
}

.form-control{
  font-size: 1rem;
  font-weight: 400;
  line-height:1.5;
  border-color: #00ac96 !important;
  border-style: solid !important;
  border-width: 0 0 1px 0 !important;
  padding: 0px !important;
  color:#495057;
  height: auto;
  border-radius: 0;
  background-color: #fff;
  background-clip: padding-box;
}

.form-control:focus {

  color: #495057;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: none;
}

