@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Sora:wght@200&display=swap');
.sidebar {
  font-family: 'Imprima', sans-serif;
  font-family: 'Sora', sans-serif;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f2eae1;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-weight: 500;
  overflow: hidden;
}

.sidebar a {
  display: block;
  color: #f1f1f1 !important;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:not(.active){
  color: #000 !important;
}

.sidebar a.active {
  background-color: #cd501b;
  color: #f1f1f1;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: #f1f1f1 !important;
  transition: 0.5s;
}

div.content {
  margin-left: 100px;
  padding: 10px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {

  div.content {
    margin-left: 0px !important;
    padding: 10px 16px;
    height: 1000px;
}

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

@media screen and (max-width: 1440px) {
  div.content {
    margin-left: 150px;
    padding: 10px 16px;
    height: 1000px;
}
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
div.content {
    margin-left: 180px;
    padding: 10px 16px;
    height: 1000px;
}
}