.App {
  text-align: center;
}

.navbar-custom{
  font-family: 'Roboto Condensed', sans-serif;
}

.carousel-grad{
  position: relative;
  height: 91vh;
  width: auto;
  overflow: hidden;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.28644961402529767) 27%, rgba(83,82,68,1) 78%);
  color: white !important ;
}

.carousel-img{
  position: absolute;
  width: auto;
  height: 91vh;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

